<?xml version="1.0" encoding="utf-8"?>
<CrontabServiceConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <PlatinumService>General</PlatinumService>
  <ServiceId>Crontab@Tushare</ServiceId>
  <PublisherAddress>tcp://*:30002</PublisherAddress>
  <ReplierAddress>tcp://*:30001</ReplierAddress>
  <WorkerAddress>inproc://CrontabWorker</WorkerAddress>
  <WorkerNum>1</WorkerNum>
  <IsAdminService>true</IsAdminService>
  <CrontabConfigs>
	
	<CrontabConfig>
		<ExecutionType>Execute</ExecutionType>
		<Periodicity>EndOfDay</Periodicity>
		<Command>..\Batch\RestartCrontab.bat</Command>
		<IsSkipHoliday>false</IsSkipHoliday>
		<StartHour>0.1</StartHour>
		<Name>RestartCrontab</Name>
	</CrontabConfig>
	
	<CrontabConfig>
		<ExecutionType>Execute</ExecutionType>
		<Periodicity>EndOfDay</Periodicity>
		<Command>..\Batch\ScheduleJobs.bat</Command>
		<IsSkipHoliday>false</IsSkipHoliday>
		<StartHour>0.2</StartHour>
		<Name>RestartCrontab</Name>
	</CrontabConfig>
	
  </CrontabConfigs>
</CrontabServiceConfig>